<div class="column">
    {{ partial "templates/share-listing" . }}
    {{ if .Params.listing_agent.listing_agent }}<p>
        {{ with .Site.GetPage .Params.listing_agent.listing_agent }}
        <div class="agent-sidebar box pb-0 pl-0 pr-0">
            <div class="columns is-variable is-3">
                <div class="column is-6 has-text-centered">
                    <div>
                        {{ if .Params.details.agent_photo }}
                        <img src="{{ .Params.details.agent_photo }}" alt="{{ .Title }}" style="width:80px;height:80px;border-radius:50%;object-fit:cover">
                        {{ else }}
                        <img src="/assets/user.jpg" alt="use icon" width="100" style="border-radius:50%;">
                        {{ end }}
                    </div>
                </div>
                <div class="column">
                    <h4 class="title is-6 mb-0 has-text-centered-mobile">{{ .Title }}</h4>
                    <h5 class="title is-6 has-text-centered-mobile">{{ .Params.details.title }}</h5>
                    <h5 class="subtitle is-6 has-text-centered-mobile">{{ .Params.details.license_type }} {{ .Params.details.license_number }}</h5>
                </div>
            </div>
            <footer class="card-footer">
                {{ if .Params.contact.email }}<a href="mailto:{{ .Params.contact.email }}" class="card-footer-item">Email</a>{{ end }}
                {{ if .Params.contact.cell }}<a href="tel:{{ .Params.contact.cell }}" class="card-footer-item">Call</a>{{ end }}
                <a href="{{ .Permalink }}" class="card-footer-item">Profile</a>
              </footer>
        </div>
        {{ end }}
    {{ else }}
    <div class="form-container">
        <h5 class="title is-6">Inquire about this listing</h5>
        {{ if $.Site.Data.idx.enable_idx }}
        {{ if $.Site.Data.idx.incomplete_subdomain }}
        <form id="ihf-contact-request-form" data-ihf-event="contact-form-submit" action="https://{{ $.Site.Data.idx.incomplete_subdomain }}.idxhome.com/contact/{{ $.Site.Data.idx.ihf_client_id }}" method="POST" data-ihf-event-bound="true">
        {{ else }}
        <form id="ihf-contact-request-form" data-ihf-event="contact-form-submit" action="https://{{ $.Site.Data.idx.complete_subdomain }}/contact/{{ $.Site.Data.idx.ihf_client_id }}" method="POST" data-ihf-event-bound="true">
        {{ end }}
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded">
                  <input class="input" type="text" placeholder="Name" name="contactName" required>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <input class="input" type="text" placeholder="Email" name="email" required>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <input class="input" type="text" placeholder="Phone" name="phone" required>
                </p>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="control">
                <textarea id="message" placeholder="Message" name="message" class="textarea" style="height: 140px;" rows="3"> </textarea>
            </div>
          </div>
          {{ if $.Site.Data.idx.enable_google_recaptcha }}
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div class="g-recaptcha" data-sitekey="{{ $.Site.Data.idx.google_site_key }}"></div>
              </div>
            </div>
          </div>
        {{ end }}
          <div class="control">
            <button class="button" style="{{ safeHTMLAttr (printf "background-color: %s" $.Site.Data.design.colors.button_background_colors) }};width:305px">Submit</button>
          </div>
          <div class="field mt-5">
            <div class="control">
              <label class="checkbox">
                <input type="checkbox" required>
                <span class="is-size-7">By submitting this form you confirm you have read and agreed to our <a href="">Terms of service</a> and <a href="">Privacy Policy.</a> You consent to having this website store the submitted information so we can respond to the inquiry. Don't worry, you can request to have your information removed anytime.</span>
              </label>
            </div>
          </div>
        </form>
        {{ else }}
        <form name="Listing Inquiry" method="POST" data-netlify="true" netlify-honeypot="bot-field" action="/thank-you">
            <input name="bot-field" type="hidden"/>
            <input type="hidden" name="subject" value="Listing Inquiry for {{ .Title }}, {{ .Params.cities }}, {{ .Params.states }} {{ index .Params "zip-codes" }}">
            <input type="hidden" name="Listing Link" value="{{ .Permalink }}">
          <div class="field">
            <p class="control is-expanded">
              <input class="input" type="text" placeholder="First Name" name="first name">
            </p>
          </div>

          <div class="field">
            <p class="control">
              <input class="input" type="text" placeholder="Last Name" name="last name">
            </p>
          </div>
          
          <div class="field">
            <div class="control">
              <input class="input" type="text" placeholder="Phone" name="phone">
            </div>
          </div>

          <div class="field">
            <div class="control">
              <input class="input" type="email" placeholder="Email" name="email address">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <textarea class="textarea" placeholder="Your Message" name="message"></textarea>
            </div>
          </div>

          <div class="control">
            <button class="button" style="{{ safeHTMLAttr (printf "background-color: %s" $.Site.Data.design.colors.button_background_colors) }};width:305px">Submit</button>
          </div>
          <div class="field mt-5">
            <div class="control content">
              <label class="checkbox">
                <input type="checkbox" required>
                <span class="is-size-7">By submitting this form you confirm you have read and agreed to our <a href="/legal/terms-and-conditions">Terms and Conditions</a> and <a href="/legal/privacy-policy">Privacy Policy.</a> You consent to having this website store the submitted information so we can respond to the inquiry. Don't worry, you can request to have your information removed anytime.</span>
              </label>
            </div>
          </div>
        </form>
        {{ end }}
    </div>
    {{ end }}

    {{ if .Params.tools.open_house_date }}
    <div class="box">
        <div class="single-open-house">
          <h2 class="title is-6">Open House</h2>
          <p>{{ .Params.tools.open_house_date }}</p>
          <p>{{ .Params.tools.open_house_details }}</p>
        </div>
    </div>
    {{ end }}

    {{ if .Params.tools.file_attachments }}
    <div class="box">
        <h2 class="title is-6">Attachments</h2>
        {{ range .Params.tools.file_attachments }}
          <p class="box"><a href="{{ . }}" target="_blank" class="align-center link"><img src="/assets/download.svg" width="20" class="mr-2">Download File</a></p>
        {{else}}
          <p>no files</p>
        {{end}}
    </div>
    {{ end }}

    <div class="pt-6 pb-6">
        <h4 class="title is-6">Other Listings</h4>
        {{ range first 5 ( where $.Site.RegularPages "Type" "listings") }}
        <a href="{{ .Permalink }}">
            <article class="media mb-5">
                {{ if $.Params.photos.gallery }}
                <div class="media-left">
                  <figure class="image is-96x96">
                      {{ if .Params.photos.gallery }}
                    <img src="{{ index .Params.photos.gallery 0 }}" alt="{{ .Title }}">
                    {{ else }}
                    <img src="/assets/nohouse.jpg" alt="no house">
                    {{ end }}
                  </figure>
                </div>
                {{end}}
                <div class="media-content">
                  <div class="">
                      <h1 class="title is-6" style="margin: 0;">{{ .Params.title }}</h1>
                      {{ if $.Params.price }}<p class="has-text-black mx-0">{{ .Params.price }}</p>{{ end }}
                      {{ if $.Params.properties }}<p class="has-text-black mx-0">{{ .Params.properties }}</p>{{ end }}
                </div>
            </article>
        </a>
        {{ end }}
    </div>

</div><!-- End Column -->
